$rojo-bullet: #f64552;
$gris-bullet: #f8f8f8;
$amarillo-botones: #fbd43b;
$gris-dark: #212121;
$gris-letra-soft: #8f8f8f;
$turquesa-terminos: #00c3a3;
$morado-entradanum: #49233b;
$morado-light: #451e36;
$morado-dark: #38052a;
