@import 'variables';

/*PRIMER INDEX*/
body {
    height: 100vh;
}

.carousel {
    overflow:visible;
}

#boton--registro {
    width: 300px;
    background-color: $amarillo-botones;
    margin-top: 80vh; 
}
    

/*INDEX VALIDACION*/
.imagen--celular {
    width: 130px;
    height: 100px;
    margin-top: 20%;
    display: inline;
}

.imagenes--pequenas {
    width: 75px;
}


input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    width: 85%;
    
}

.boton--continuar {
    background-color: $amarillo-botones;
}

.imagenes--inputs {
    width: 20px; 
}

#check-yape {
     background-color: $amarillo-botones;   
  #seccion-check {
    margin-top: 20%;  
  }
}
